body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.my-bg {
  background: rgb(240, 240, 240);
}

.nav-link{
font-weight: bold;
}

.input-errors {
  color: red;
  font-size: x-small;
}

.icon {
  padding: "3px";
  cursor: "pointer";
  cursor: pointer;
  text-decoration: none;
}

.delete-icon {
  color: rgb(255, 58, 58);
}

.delete-icon:hover {
  color: rgb(255, 1, 1);
}

.edit-icon {
  color: rgb(37, 110, 255);
}

.edit-icon:hover {
  color: rgb(0, 65, 194);
}

.search-student {
  width: 25%;
}

.my-btn {
  color: black;
  background-color: rgb(230, 230, 230);
  padding: 7px 10px;
}
.my-btn:hover {
  color: black;
  background-color: rgb(180, 180, 180);
}
